<div class="featurette text-center" data-aos="zoom-in-up" data-aos-duration="1500">
  <h4>{{ 'COMMON.COMPANY' | translate }}</h4>
  <hr class="style-classic bg-0F84EF hr-mini-size">
</div>
<div class="row row-eq-height featurette">
  <div class="col-lg-6 order-lg-2 align-self-center" data-aos="fade-left" data-aos-duration="1500">
    <h2 class="featurette-heading">
      {{ 'COMMON.COMPANY_NAME' | translate }}
    </h2>
    <hr class="style-classic bg-0F84EF">
    <p>{{ 'UNAUTHENTICATION.COMPANY.DESCRIPTION_COMPANY' | translate }}</p>
    <hr class="style-classic bg-0F84EF">
    <p>
      <B>{{ 'UNAUTHENTICATION.COMPANY.COMPANY_PHILOSOPHY' | translate }}: </B>
      {{ 'UNAUTHENTICATION.COMPANY.DESCRIPTION_COMPANY_PHILOSOPHY' | translate }}
    </p>
    <hr class="style-classic bg-0F84EF">
    <p>
      <B>{{ 'UNAUTHENTICATION.COMPANY.VISION' | translate }}: </B>
      {{ 'UNAUTHENTICATION.COMPANY.DESCRIPTION_VISION' | translate }}
    </p>
    <hr class="style-classic bg-0F84EF">
    <p>
      <B>{{ 'UNAUTHENTICATION.COMPANY.MISSION' | translate }}: </B>
      {{ 'UNAUTHENTICATION.COMPANY.DESCRIPTION_MISSION' | translate }}
    </p>
  </div>
  <div class="col-lg-6 order-lg-1 align-self-center" data-aos="fade-right" data-aos-duration="1500">
    <img async=on class="featurette-image featurette-image-style-classic img-fluid mx-auto mb-4 margin-initial"
      [src]="FILE_PATH.IMAGES.UNAUTHENTICATION.COMPANY.TITLE.SRC">
  </div>
</div>
