.landing-full-page-home {
  background: white url('../../../../../assets/images/unauthenticated/home/background.jpg') no-repeat 50% 50% !important;
  width: 100% !important;
  background-size: cover !important;
  padding: 0 !important;
}

.landing-text-middle-full-home {
  background: rgba(0, 0, 0, 0.5) !important;
}
