<div class="jumbotron jumbotron-fluid margin-initial landing-full-page landing-full-page-home">
  <div class="landing-text-middle-full landing-text-middle-full-home">
    <div class="text-center" data-aos="fade-up" data-aos-duration="1500">
      <h1 class="display-4 text-white">{{ 'UNAUTHENTICATION.HOME.LANDING_FULL_PAGE_TITLE_1' | translate }}
        <u>{{ 'UNAUTHENTICATION.HOME.LANDING_FULL_PAGE_TITLE_2' | translate }}</u>
      </h1>
      <p class="lead text-white">{{ 'UNAUTHENTICATION.HOME.LANDING_FULL_PAGE_SUB_TITLE' | translate }}</p>
    </div>
  </div>
</div>
