<div class="featurette text-center" data-aos="zoom-in-up" data-aos-duration="1500">
  <h4>{{ 'COMMON.CONTACT' | translate }}</h4>
  <hr class="style-classic bg-0F84EF hr-mini-size">
</div>
<div class="row row-eq-height align-items-center featurette">
  <div class="col-lg-6 order-lg-2 align-self-center" data-aos="fade-left" data-aos-duration="1500">
    <h4 class="featurette-heading">
      {{ 'UNAUTHENTICATION.CONTACT.COMPANY' | translate }}
    </h4>
    <hr class="style-classic bg-0F84EF">
    <p>{{ 'UNAUTHENTICATION.CONTACT.TITLE_ADDRESS' | translate }} :
      {{ 'UNAUTHENTICATION.CONTACT.ADDRESS' | translate }} </p>

    <p>{{ 'UNAUTHENTICATION.CONTACT.TITLE_TELEPHONE' | translate }} :
      {{ 'UNAUTHENTICATION.CONTACT.TELEPHONE' | translate }}</p>

    <p>{{ 'UNAUTHENTICATION.CONTACT.TITLE_TELEPHONE_LAOS' | translate }} :
      {{ 'UNAUTHENTICATION.CONTACT.TELEPHONE_LAOS' | translate }}</p>

    <p>{{ 'UNAUTHENTICATION.CONTACT.TITLE_FAX' | translate }} :
      {{ 'UNAUTHENTICATION.CONTACT.FAX' | translate }}</p>

    <p>{{ 'UNAUTHENTICATION.CONTACT.TITLE_E_MAIL' | translate }} :
      {{ 'UNAUTHENTICATION.CONTACT.E_MAIL' | translate }}</p>

    <p>{{ 'UNAUTHENTICATION.CONTACT.TITLE_FACEBOOK' | translate }} :
      <a [href]="CONSTANTS.FACEBOOK.AIA_BY_SURIVIT">{{ 'UNAUTHENTICATION.CONTACT.FACEBOOK' | translate }}</a>
    </p>
  </div>
  <div class="col-lg-6 order-lg-1" ata-aos="fade-right" data-aos-duration="1500">
    <img async=on class="featurette-image featurette-image-style-classic img-fluid mx-auto mb-4 margin-initial"
      [src]="FILE_PATH.IMAGES.UNAUTHENTICATION.CONTACT_US.TITLE.SRC">
  </div>
</div>
